@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-Background {
  background: linear-gradient(270deg, #00c6ff, #0072ff, #6a11cb, #2575fc, #ff6a00);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  min-height: 100vh;
}

.bg-Button {
  background: linear-gradient(270deg, #00c6ff, #0072ff, #6a11cb, #2575fc, #ff6a00);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
